<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    package="ai.arena.luminawallpaper"
    platformBuildVersionCode="35"
    platformBuildVersionName="15"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 允许该应用创建网络套接字和使用自定义网络协议。浏览器和其他某些应用提供了向互联网发送数据的途径，因此应用无需该权限即可向互联网发送数据。 -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- 允许应用阻止手机进入休眠状态。 -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <!-- 允许该应用查看网络连接的相关信息，例如存在和连接的网络。 -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许该应用查看WLAN网络的相关信息，例如是否启用了WLAN以及连接的WLAN设备的名称。 -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:theme="@style/AppTheme"
        android:label="Lumina联动助手"
        android:icon="@drawable/app_icon"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>